@mixin font-base {
  padding: 0;
  margin: 0;
  line-height: 0.8;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

h4 {
  @include font-base;
  font-size: 0.9rem;
}

p {
  @include font-base;
  color: grey;
  font-size: 0.7rem;
}




body {
  background-color: #eee;
}

.container {
  width: 560px;
  background-color: #fff;
  margin: 0 auto;
}

header, section {
  position: fixed;
  text-align: center;
  width: 560px;
  background-color: #fff;

}

section {
  top: 80px;
}

.logo {
  width: 120px;
  padding: 0 0 5px 0;
}

main {
  padding: 400px 18px 10px
}

article {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 8px;
  margin: 0 auto;

  &:hover {
    border: 2px solid #ff9999;
  }
}

article:hover {
  border: 2px solid #ff9999;
}

.thumb {
  height: 70px;
  border-radius: 4px;
}

.details {
  padding: 8px 22px;
}
